@{
    ViewData["Title"] = "About"; Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/about.css">
 <div class="text-white container mt-5">
  <h3 >  ثبت فولیو:</h3>
<p  class="text-white  container ">
  
  نحوه کار با این اپلیکیشن به این شکل است که ابتدا میبایست فولیو ثبت کنید،برای این منظور با کلیک بر روی ثبت فولیو از منو وارد صفحه ثبت فولیو می‌شوید، در آنجا می‌توانید اطلاعات مسافر و همراهانش را ثبت کنید.
   <br> همچنین می‌توانید در صورتی که مسافر بدهکار باشد تیک تسویه نشده را زده و توضیحات مربوطه را بنویسید.



</p>
  <h3 >  ثبت رزرو:</h3>

<p  class="text-white  container ">
  بعد از ثبت فولیو میبایست رزرو هایی را به آن اختصاص دهید، این کار به سه روش زیر امکانپذیر است: <br><br>
  1- از طریق صفحه وضعیت اتاقها، بخش نمای کلی اتاقها و انتخاب خانه های خالی  <br>
  2- از طریق صفحه لیست رزرو و کلیک کردن بر روی دکمه رزرو <br>
  3- از طریق انتخاب گزینه ثبت رزرو از منو<br><br>
</p>
  <h3   >رنگ بندی ها:</h3>
<p  class="text-white  container ">
  در صفحه وضعیت اتاقها و لیست رزرو ها از رنگ های مختلفی استفاده شده که توضیح آن به شرح زیر است: <br><br>
  قرمز: رزرو <br>سبز: اتاق پر(مسافر در حال حاضر اقامت دارد ) <br> مشکی: اقامت گذشته(مسافر اقامت داشته و هتل را ترک کرده)

</p>
  <h3>گزارش گیری  :</h3>
  <p class="text-white container">
    اطلاعات کامل رزرو ها  مسافران و رزرو های حذف شده، قابل گزارش‌گیری است. برای این منظور از منو بر روی گزارش‌گیری کلیک نمایید
  </p>
<br><br><br><br><br><br><br><br><br><br>
 </div>